High priority funcional requirements:
· The extension must be downloadable via the web and work in at least 1 browser (Chrome).
· The extension must be able to display (for example, in a notification, modal or symbol) the overall analysis of the current web page, i.e., whether it is all AI generated, mostly, moderately, slightly or no AI generated text at all.
· The extension must be able to underline and/or highlight parts of the current web page that it deems is probably AI generated text.
· The extension must be able to display display (for example, in a notification, modal or symbol) the overall analysis of the currently opened PDF file (in the browser), i.e., whether it is all AI generated, mostly, moderately, slightly or no AI generated text at all.
· The extension must be able to display underline and/or highlight parts of the currently opened PDF file (in the browser) that it deems is probably AI generated text.
· The extension must be customizable by the user through an intuitive UI
	· Turn off/on
	· Set threshold(s) for AI generated text probability
	· Select which language models to use
	· Select which metrics to use
· The extension must allow external developers to easily add their language models or metrics to our AI.

Low priority functional requirements:
· The extension must have a text input to evaluate whichever text the user wants/inputs.
· The extension UI must allow the user to customize the colors of underlined/highlighted text (color palette).


