.hex {
    font-size: 18px; height: 28px; width: 20px; float: left; color: rgb(152, 161, 164);
    line-height: 30px; text-align: center; background-color: #fff;
}

input {
    caret-color: initial; width: 64px; font-size: 14px; color: rgb(102, 102, 102); border: 0; outline: none; height: 26px; border-radius: 0px 4px 4px 0px; float: left;
}

.color {height: 28px; width: 28px; border-radius: 4px 0 0 4px;}

.color-picker-wrapper {display: flex; justify-content: center; align-items: center; padding: 3px; background-color: #eeeeee; border-radius: 4px;}