.popux-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.popup-wrapper {
    margin: 0;
    overflow: hidden;
    width: 348px;
    min-height: 200px;
    font-style: normal;
    font-weight: 400;
    font-family: Roboto, Inter, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Arial;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 1%), 0px 4px 20px rgb(0 0 0 / 25%);
}
.popup-header {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 20px 0;
    text-align: center;
}
.popup-main {
    padding: 18px;
    max-height: 485px;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup-footer {
    display: flex;
    border-top: 1px solid rgba(0,0,0,.2);
    height: 56px;
    justify-content: space-around;
}
.footer-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: #6d758d;
}
.footer-item-icon {
    height: 28px;
    margin-right: 4px;
    display: flex;
    align-items: center;
}
.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.all-settings-wrapper {
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-settings-icon {
    vertical-align: middle;
}
.all-settings {
    color: #4a6ee0;
    font-size: 14px;
    line-height: 21px;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 700;
}
.qck-settings {
    font-family: Roboto, Inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #0e101a;
    font-size: 16px;
    line-height: 24px;
}
.title {
    font-family: Roboto, Inter,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #0e101a;
    text-decoration: none;
}
.grey-box {
    width: 92%;
    height: 20px;
    border-radius: 15px;
    background-color: #dbdbdb;
    position: relative;
    overflow: hidden;
}
.grey-box.loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #dbdbdb 0%, #eee 50%, #dbdbdb 100%);
    animation: loading 1s infinite ease-in-out;
}
@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.options {
    padding: 16px 0;
}
.option {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;   
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    margin: auto;
}
.white-button {
    border: 0;
    outline: 0;
    background-color: white;
    cursor: pointer;
}
.row {
    width: 100%;
}