.ai4td-globalbutton-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 60px;
  width: 60px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.1), 1px 1px 4px 1px rgba(0, 0, 0, 0.45), 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  outline: none;
}
.ai4td-loader-wrapper {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.ai4td-spin-1,
.ai4td-spin-2 {
  position: absolute;
  box-sizing: border-box;
  display: block;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 50%;
}
.ai4td-spin-1 {
  height: 30px;
  width: 30px;
  border-top: 3px solid #9575cd;
  border-left: 3px solid #9575cd;
  -webkit-animation: ai4td-spin1-animation 1.8s linear infinite;
          animation: ai4td-spin1-animation 1.8s linear infinite;
}
.ai4td-spin-2 {
  height: 40px;
  width: 40px;
  border-bottom: 3px solid #6a1b9a;
  border-left: 3px solid #6a1b9a;
  -webkit-animation: ai4td-spin2-animation 1.2s linear infinite;
          animation: ai4td-spin2-animation 1.2s linear infinite;
}
@-webkit-keyframes ai4td-spin1-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes ai4td-spin1-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@-webkit-keyframes ai4td-spin2-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ai4td-spin2-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}