# This requirements.txt file is ran by the Django container

django_rest_framework
markdown
django-filter
django-cors-headers
#transformers
#torch
requests
bs4
regex
datetime
pandas
docker
django
#transformers==4.27.1
#torch==2.0.0
mysql-connector-python
mysqlclient
