.ui-switcher {
    background-color: #bdc1c2;
    display: inline-block;
    height: 21px;
    width: 48px;
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    transition: border-color 0.25s;
}

.ui-switcher[aria-checked=true] {
    background-color: #25ba9a;
}

.ui-switcher:before {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    display: flex;
    position: absolute;
    width: 20px;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    text-align: center;
}

.ui-switcher[aria-checked=true]:before {
    content: 'ON';
    left: 7px;
}

.ui-switcher[aria-checked=false]:before {
    content: 'OFF';
    right: 7px;
}

.ui-switcher:after {
    background-color: #ffffff;
    content: '';
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.25s;
}

.ui-switcher[aria-checked=false]:after {
    left: 2px;
}

.ui-switcher[aria-checked=true]:after {
    left: 31px;
}

.ui-switcher:hover {
    background-color: #bdc1c2da;
}

.ui-switcher[aria-checked=true]:hover {
    background-color: #25ba9ac9;
}

.ui-switcher.pulseON:after {
    animation: pulseON 1.1s;
}

.ui-switcher.pulseOFF:after {
    animation: pulseOFF 1.1s;
}

@keyframes pulseON {
	0% {
		box-shadow: 0 0 0 0 #25ba9a8a;
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulseOFF {
	0% {
		box-shadow: 0 0 0 0 #7e7e7eab;
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}