<!DOCTYPE html>
<html lang="en">

<head>
  <title>LM Hub</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/90925dc0b7.js" crossorigin="anonymous"></script>

  <style>
    .navbar-dark .navbar-nav .nav-link:hover {
      color: white;
    }

    .modal-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #username-text {
      color: white;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Language Model Hub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" style="padding-right:12px">
            <button type="button" class="btn btn-primary" onclick="onClickUploadLM()">Upload LM</button>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item" id="signUp">
            <a class="nav-link" href="register">
              <i class="fa fa-user-plus"></i> Sign Up
            </a>
          </li>
          <li id="logIn" class="nav-item">
            <a class="nav-link" href="login">
              <i class="fa fa-sign-in"></i> Log In
            </a>
          </li>
          {% else %}
            <li id="username" class="nav-item">
              <a class="nav-link" href="registration/login.html">
                {{ user.username }}
              </a>
            </li>
            <li id="logOut" class="nav-item d-none">
              <a class="nav-link" href="#">
                <i class="fa fa-sign-out"></i> Log Out
              </a>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

  <div id="container" class="container-fluid mt-5">
    {% for LM in LMs %}
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{LM.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">By {{LM.author}}</h6>
        <p class="card-text">{{LM.description}}</p>
      </div>
    </div>
    <br />
    {% endfor %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="upload-LM-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload LM</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="lm-name">LM Name</label>
          <input type="text" class="form-control" id="lm-name" placeholder="Your LM name" maxlength="20">
          <br />
          <label for="lm-description">LM Description</label>
          <textarea class="form-control" id="lm-description" rows="3"></textarea>
          <br />
          <label>LM Type</label>
          <select id="select-lm-type" class="form-select" onchange="onChangeLmType(this);">
            <option selected="selected">Python script</option>
            <option>API</option>
          </select>
          <br />
          <div id="scriptDiv">
            <label for="script">Python script</label>
            <input type="file" accept=".py" class="form-control" id="script">
          </div>
          <div id="apiDiv" class="d-none">
            <label for="id">API</label>
            <input type="text" class="form-control" id="api" placeholder="Your API endpoint/URL"
              value="http://localhost:8000/api/v1/myLM">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="onSubmitLM()">Submit LM</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      toggleNavbarLoginLogout();
      $("#myModal").modal('show');
    });

    let USERNAME = 'zzzzz';
    let IS_LOGGED_IN = true;
    function toggleNavbarLoginLogout() {
      if (IS_LOGGED_IN) {
        $("#add-LM-a-tag").attr("href", "http://localhost:8000/login")
        $("#signUp").addClass("d-none");
        $("#logIn").addClass("d-none");
        $("#logOut").removeClass("d-none");
        $("#username-text").text(USERNAME);
        $("#username").removeClass("d-none");

      }
      else {
        $("#logOut").addClass("d-none");
        $("#username").addClass("d-none");
        $("#logIn").removeClass("d-none");
        $("#signUp").removeClass("d-none");
      }
    }

    function onClickUploadLM() {
      if (!IS_LOGGED_IN) {
        window.location.href = "login";
        return;
      }

      $("#upload-LM-modal").modal('show');

    }

    const SCRIPT = 0;
    const API = 1;

    function onChangeLmType(select) {
      let index = select.selectedIndex;
      if (index == SCRIPT) {
        $("#apiDiv").addClass("d-none");
        $("#scriptDiv").removeClass("d-none");
      }
      else if (index == API) {
        $("#scriptDiv").addClass("d-none");
        $("#apiDiv").removeClass("d-none");
      }
    }

    function onSubmitLM() {
      let formData = new FormData();

      let lm_name = document.getElementById("lm-name").value.trim();
      if (lm_name.length <= 1) {
        alert("LM Name too short!");
        return;
      }

      formData.append('name', lm_name);

      formData.append('author', USERNAME);

      let lm_description = document.getElementById("lm-description").value.trim();
      formData.append('description', lm_description);

      let type = document.getElementById("select-lm-type").selectedIndex;
      if (type == SCRIPT) {
        let pyScript = document.getElementById("script").files[0];
        if (pyScript == null | pyScript == undefined) {
          alert("Add your python script!");
          return;
        }
        formData.append('script', pyScript);
      }
      else if (type == API) {
        let api_url = document.getElementById("api").value.trim();
        if (api_url.length <= 3) {
          alert("API endpoint too short!");
          return;
        }
        formData.append('api', api_url);
      }

      // Log the key/value pairs
      console.log("------------");
      for (var pair of formData.entries()) {
        console.log(pair[0] + ': ' + pair[1]);
      }
      console.log("------------");

      fetch("http://127.0.0.1:8000/api/v1/uploadLM",
        {
          body: formData,
          method: "post"
        })
        .then(response => {
          if (response.status == 200)
            alert("LM accepted!");
          else
            alert("LM refused!");

        });
    }
  </script>

</body>

</html>