.scanned-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    width: calc(100% - 24px);
}

.scanned-text-container::-webkit-scrollbar {
    width: 10px;
}

.scanned-text-container::-webkit-scrollbar-thumb {
    background: #c9d6df;
    border-radius: 5px;
}

.scanned-text-container::-webkit-scrollbar-track {
    background: #f2f6f9;
    border-radius: 5px;
}

.scanned-text {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 126px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
    color: #040f21;
    width: 100%;
    resize: none;
    border: none;
    outline: 0px none transparent;
    background-color: #e4e6f3;
}

.scanned-text-wrapper {
    border-radius: 4px;
    background-color: #e4e6f3;
}

.scanned-text-clear {
    cursor: pointer;
    z-index: 1000;
}

.scanned-text-footer {
    position: relative;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.scanned-text-score {
    position: absolute;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 600;
}

.error-msg {
    padding-top: 4px;
    color: #fa3a36;
}